@import 'bootstrap-custom';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


/* Styles */
body {
  font-family: 'Roboto', sans-serif;
  /* font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}
.text-inline {
  display: inline;
}
